
@font-face {
    font-family: 'League Spartan';
    src: url('FONTS/League-Spartan/leaguespartan-bold.eot');
    src: url('FONTS/League-Spartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('FONTS/League-Spartan/LeagueSpartan-Bold.otf') format('opentype'),
         url('FONTS/League-Spartan/leaguespartan-bold.woff2') format('woff2'),
         url('FONTS/League-Spartan/leaguespartan-bold.woff') format('woff'),
         url('FONTS/League-Spartan/leaguespartan-bold.ttf') format('truetype'),
         url('FONTS/League-Spartan/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}


/* For webkit-based browsers like Chrome and Safari */
/* Track */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 10px; /* Roundness of the scroll thumb */
}

/* For Firefox */
/* Width of the scrollbar */
* {
  scrollbar-width: thin; /* "auto" or "thin" (slim) */
}

/* Color of the scrollbar */
* {
  scrollbar-color: #888 transparent; /* thumb color and track color */
}

/* For IE and Edge */
/* Width and color of the scrollbar */
* {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 10px; /* Roundness of the scroll thumb */
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

/* Hide scrollbar track in IE and Edge */
*::-webkit-scrollbar-track-piece {
  display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #445464;
    font-family: 'League Spartan', sans-serif;
    color: #faf3eb;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

#screen1 h1 {
    font-size: 6vh; /* Adjust font size as needed */
}

#screen1 h2 {
    font-size: 4vh; /* Adjust font size as needed */
    color: #bca494; /* Color h2 */
}

#screen2 h1 {
    font-size: 6vh; /* Adjust font size as needed */
}

#screen1 img,
#screen2 img {
    margin-top: 20px; /* Adjust as needed */
    width: 13%;
    height: auto;
}

#screen3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #445464;
}

#screen3 h1{
    font-size: 10vh;
}

#screen3 .screen3-button{
  font-size: 4vh;
    width: 53vh;
    height: 12vh;
    border-radius: 60px;
}

#backButton {
    position: absolute;
    top: 11px; /* Adjust top position as needed */
    left: 1%; /* Adjust left position as needed */
    font-size: 5vh;
    color: #faf3eb;
    background-color: transparent;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
}

.content {
    text-align: center;
    z-index: 1;
    font-size: 50px;
}

.buttons {
    margin-top: 20px;
}

#screen4 .buttons{
    padding-top: 165px;
    width: 53vh;
    height: 12vh;
    padding-bottom: 19vh;
}

#screen4 .wide-button{
  font-size: 90%;
  width: 53vh;
  height: 12vh;
  border-radius: 60px;
}

  #screen4 #viewbtn{
    font-size: 90%;
  }

button {
    display: block;

    padding: 1vh 2vh; /* Adjust button padding for a larger size */
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 90%;
    font-family: 'League Spartan', sans-serif;
}

button:nth-child(1) {
    background-color: #faf3eb;
    color: #445464;
}

button:nth-child(2) {
    margin-top: 30px;
    background-color: #bca494;
    color: #445464;
}

.wide-button {
    font-size: 40px; /* Adjust font size as needed */
}

.rectangle {
  position: absolute;
  top: 10%; /* Adjust top margin as needed */
  left: 0;
  width: 100%;
  height: 90%; /* Adjusted to cover more of the screen */
  background-color: #5c7b8b;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
    z-index: 0; /* Ensure the rectangle is behind other content */
}

#screen9, #screen7 {
  overflow: hidden;
}

#screen9 .rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
}


#screen9 .column {
    display: flex;
}


#screen9 .column-left {
    padding-right: 20px;
    align-self: flex-start;
    left: 70px; /* Adjust the left spacing as needed */
    bottom: 70px; /* Adjust the bottom spacing as needed */
    position: absolute;
    top: 70px;
}

#screen9 .column-left h1 {
    font-size: 200px;
    text-align: left;
}

#screen9 .rowother .button{
    margin-top: 20px;
}

#screen9 .column-left .tab {
    width: 800px;
    height: 150px;
    font-size: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#screen9 .column-left .rounded-box {
    width: 800px;
    height: 780px;
}

#screen9 .column-right {
    overflow-y: auto;
    margin-left: 900px;
}
#screen9 .column-right .tab {
    width: 1700px;
    height: 150px;
    font-size: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#screen9 .column-right .rounded-box {
    width: 1700px;
    height: 1300px;
}

#screen9 .row {
    margin-bottom: 20px;
}

#screen9 h1 {
    font-size: 40px;
    color: #faf3eb;
}

#screen9 .tab {
    background-color: #445464;
    color: #faf3eb;
    padding: 10px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 55px; /* Overlaps with the rounded box */
    position: relative;
    z-index: 2;
}

#screen9 .rounded-box {
    background-color: #c4b4a4;
    border-radius: 0 0 20px 20px;
    padding: 20px;
    margin-top: -130px;
}

#screen9 .roomcheckbutton {
    background-color: #faf3eb;
    border-radius: 20px;
    padding: 20px;
    margin-top: 82px;
    height: 240px;
    color: #445464;
    font-size: 53px;
}

#screen9 .column {
  justify-content: space-between;
}

#screen9 .roomcheckbutton p {
    margin: 5px 0;
}

#screen5 .seats {
    color: #445464; /* Change to the color you desire */
    padding-top: 15px;
}
/* ---------------------------------------------------------------------------*/
#screen5 .navigation-tab {
    background-color: #445464;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%; /* Changed height to 7% */
    z-index: 999; /* Ensure it appears above other content */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    padding: 47px 20px;
}

#screen5 ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Adjusted to accommodate the width of items */
    max-width: 100%; /* Added max-width to ensure items don't exceed navigation width */
    margin: 0;
    padding: 0;
}

#screen5 .navigation-tab li {
    list-style-type: none;
}

#screen5 button {
    color: #faf3eb;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 48px; /* Adjusted font size for buttons */
}

#screen5 #dateSelector {
    display: flex;
    align-items: center;
}

#screen5 #dateSelector #dateSelect{
    margin-top: 0px;
}

#screen5 #dateSelector button {
    font-size: 44px; /* Adjusted font size for date selector buttons */
    color: #faf3eb;
}

#screen5 .status-item {
    display: flex;
    align-items: center;
}

#screen5 .status-item p {
    margin: 0 10px; /* Adjusted margin for paragraph */
    font-size: 14px; /* Adjusted font size */
    color: #faf3eb;
}

#screen5 .status-item img {
    margin-right: 5px; /* Adjusted margin for image */
    width: 20px; /* Adjusted width for image */
}

#screen5 #filterButton img,
#screen5 #homeButton img {
    width: 110px; /* Adjusted width for filter and home button images */
}

/* ---------------------------------------------------------------------------*/
#screen5 .buttons-container {
    position: relative;
    margin-top: 20px; /* Adjust as needed */
}

#screen5 .room-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fbf3eb;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#screen5 .room-menu.active {
    display: block;
}

#screen5 .rounded-box {
    background-color: #yourColor;
    border-radius: 20px;
    width: calc(50% - 10px); /* Adjust width as needed */
    padding: 20px;
    margin-bottom: 20px;
}

#screen5 .rounded-box button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#screen5 .rounded-box button img {
    width: 20px; /* Adjust image size as needed */
    height: 20px; /* Adjust image size as needed */
}

#screen5 .row1 img {
    padding-left: 15px;
}

#screen7 .rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%; /* Adjust top margin as needed */
  padding-left: 1120px;
  width: 60%;
  border-top-right-radius: 20px;
  border-top-left-radius: 0px;
  height: 90%;
  background-color: #5c7c8c;
  flex-direction: column;
}

#screen7 .rectangle2 {
  position: absolute;
  top: 10%; /* Adjust top margin as needed */
  left: 0;
  width: 40%;
  height: 90%; /* Adjusted to cover more of the screen */
  background-color: #faf3eb;
  border-top-left-radius: 20px;
  z-index: 1;
}

#screen7 .rectangle .roomheader {
  font-size:120px;

}

#screen7 .rectangle2 img {
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
}

#screen7 .rectangle2 #studyroom {
  width: 700px;
  height: 700px;
    display: block;
    margin: auto;
    margin-bottom: 55px;
    margin-top: 100px;
}

#screen7 h1 {
  padding-bottom: 300px;
}

#screen7 h1, #screen7 p {
  color: #faf3eb;
  position: absolute;
  font-size: 70px;
  z-index: 100;
  text-align: center;
}

#screen7 .chxbuttons {
  margin-top:50vh;
}

#screen7 .chxbuttons button {
    display: block;
    width: 500px;
    height: 150px;
    border-radius: 15px;
    font-size: calc(1vw + 1vh);
    color: #445464;
    background-color: #faf3eb;
}

#screen7 .modal {
  display: none;
   position: fixed;
   z-index: 9999; /* Ensure it appears above other content */
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 50%; /* Adjust as needed */
   max-width: 500px; /* Maximum width of the modal */
   background-color: #445464;
   border-radius: 20px;
   padding: 20px;
   text-align: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   z-index: 99;
}

#screen7 .modal-overlay {
    display: none;
    position: fixed;
    z-index: 9998; /* Ensure it appears below the modal */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

#screen7 .modal-content {
    background-color: #445464;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

#screen7 .modal-content img {
    max-width: 100px; /* Adjust image size as needed */
    margin-top: 20px;
}


#screen7 .modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #445464;
    color: white;
    cursor: pointer;
}

/* ----------------------------------------------------------------------------*/
#screen5 .accordion {
  width: 95%;
  padding-top: 100px;
  max-height: 65vh; /* Set maximum height to 80% of viewport height */
}


#screen5 .accordion-item {
  margin-bottom: 10px;
  background-color: #c4b4a4;;
  border-radius: 40px;
}

#screen5 .accordion-header {
  width: 100%;
  padding: 10px;
  background-color: #faf3eb;
  color: #445464;
  border: none;

  cursor: pointer;
  border-radius: 40px;
  z-index: 4;
  height: 140px;
  font-size: 4vh;

  display: flex; /* Use flexbox layout */
 /* Align content horizontally to the left */
  align-items: center;
  white-space: nowrap;
}

#screen5 .accordion-header .statusiconheader {
  width: 60px;
}

#screen5 .accordion-content {
  padding: 15px;
  background-color: #faf3eb;
  color: #745c4c;
  border: none;
  text-align: left;
  cursor: pointer;
  z-index: 0;
  background-color: #c4b4a4;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  font-size: 60px;
}

#screen5 .accordion-content img {
  position: relative;
  left: 15px;
  margin-bottom: -20px;
}

#screen5 #dropdownicon {
  width: 120px;
  height: 90px;
  padding-left: 1200px;
}

#screen5 .hidden {
  display: none;
}

#screen5 .book-button {
  position: relative;
  font-size: 30px;
  background-color: #fbf3eb;
  margin-bottom: 13px;
  border-radius: 20px;
  color: #445464;
}

#screen5 .available-times {
  display: flex;
  flex-wrap: wrap;
}

#screen5 .time-square {
  width: 65px;
  height: 65px;
  border-radius: 6px;
  margin: 5px;
  cursor: pointer;
}

#screen5 .blue {
  background-color: #5c7c8c;
}

#screen5 .grey {
  background-color: #324150;
}

#screen5 .yellow {
  background-color: #fbf3eb;
}

#screen5 .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#screen5 .roomItem {
    margin-bottom: 25px;
}

#screen5 .time-labels-container {
  font-size: 17px;
}

#screen5 .time-labels-container span {
  margin-left: 110px;
}

#screen5 .time-labels-container span:nth-child(1) {
  margin-left: 12px;
}


#screen5 .modal {
  display: none;
   position: fixed;
   z-index: 9999; /* Ensure it appears above other content */
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 800px; /* Maximum width of the modal */
   height: 800px; /* Maximum width of the modal */
   background-color: #445464;
   border-radius: 20px;
   padding: 20px;
   text-align: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   z-index: 99;
   font-size: 50px;
}
/* go back and fix?
#screen5 .modal-overlay {
    display: none;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
*/


#screen5 .modal-content {
    background-color: #445464;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
/*
#screen5 .modal-content img {
    max-width: 100px; /* Adjust image size as needed
    margin-top: 20px;
}
*/
#screen5 .modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #445464;
    color: #fbf3eb;
    cursor: pointer;
}


#screen5 #filtermodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  width: 90%;
  height: 90%;
    max-width: 900px;
    max-height: 1000px;
    margin: auto; /* Center the modal horizontally */
    padding: 20px; /* Add padding as needed */
  color: #c4b4a4;
}

#screen5 #filtermodal h2{
  font-size: 60px;
}

/* Modal Content/Box */
#screen5 .filtermodal-content {
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  width: 80%; /* Could be more or less, depending on screen size */
  color: #c4b4a4;
  font-size: 38px;
  text-align: left;
}

#screen5 .filtermodal-content select {
    font-size: 30px; /* Adjust font size as needed */
    padding: 10px; /* Adjust padding as needed */
    font-family: 'League Spartan', sans-serif;
    margin-right: 15px;
    margin-left: 15px;
}

#screen5 .filtermodal-content select option {
    font-size: 15px;
}

#screen5 .filtermodal-content .seatSelect select{
  font-size: 35px;
}

#screen5 .filtermodal-content input[type="checkbox"] {
    width: 35px; /* Adjust width as needed */
    height: 35px; /* Adjust height as needed */
    font-family: 'League Spartan', sans-serif;
}

#screen5 h3, #screen5 input[type="checkbox"] {
    display: flex;
    align-items: center; /* Align items vertically center */
}

/* Additional styling for checkboxes */
#screen5 input[type="checkbox"] {
    margin-left: 10px; /* Add spacing between heading and checkbox */
}

/* Close Button */
#screen5 .filterclose {
  color: #c4b4a4;
  font-size: 140px;
  font-weight: bold;
  position: absolute;
  left:30px;
  top:20px;
}

#screen5 .filterclose:hover,
#screen5 .filterclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#screen5 .filtermodal-header {
  padding-bottom: 10px;
}

#screen5 .filtermodal-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filterRow {
    display: flex; /* Use flexbox for layout */
}

.filtercolumn {
  flex: 1;
  padding: 10px;
  border: 2px solid #c4b4a4;
  align-items: center;
  display: flex;

}

.timeSelectFilter {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Align items vertically center */
}

/* Style checkboxes */
#screen5 input[type="checkbox"] {
  margin-left: 15px; /* Add margin between checkbox and text */
}

#screen5 .filtermodal-footer {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#screen5 .filtermodal-footer img{
  padding-top: 15px;
  padding-right: 5px;
}

#screen5 .show-btn {
  border-radius: 20px;
  background-color: #c4b4a4;
  color: #fbf3eb;
}

/* ------------------------------------------------------------------*/
#screen6 {
    overflow: hidden;
}

#screen6 .rectangle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%; /* Adjust top margin as needed */
  right: 0;
  width: 60%;
  border-top-right-radius: 20px;
  border-top-left-radius: 0px;
  height: 90%;
  background-color: #5c7c8c;
  flex-direction: column;
}

#screen6 .rectangle1 h1{
  margin-bottom: 30px;
  font-size: 80px;
  color: #c4b4a4;
}

#screen6 .waitform {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #445464;
  border-radius: 20px;
  width: 1200px;
  height: 800px;
  padding: 10px;
}

#screen6 .waitform label{
  font-size: 30px;
}

#screen6 input[type="email"]{
  width: 99%; /* Adjust width as needed */
  height: 55px;
  font-size: 30px;
}

#screen6 select {
    font-size: 30px; /* Adjust font size as needed */
    padding: 10px; /* Adjust padding as needed */
    font-family: 'League Spartan', sans-serif;
    margin-right: 15px;
    width: 415px; /* Adjust width as needed */
    height: 75px;
}

#screen6 .time-selection select {
    width: 190px; /* Adjust width as needed */
    height: 75px;
}

#screen6 .rectangle2content img {
    margin-bottom: 32px !important;
}


#screen6 select option {
    font-size: 15px;
}

#screen6 .checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Adjust the spacing between checkboxes */
}

#screen6 #formrow4{
  font-size: 30px;
}

#screen6 input[type="checkbox"] {
    width: 55px; /* Adjust width as needed */
    height: 55px; /* Adjust height as needed */
    font-family: 'League Spartan', sans-serif;
}

#screen6 input[type="date"] {
    width: 415px; /* Adjust width as needed */
    height: 75px; /* Adjust height as needed */
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
}

#screen6 label, #screen6 input[type="checkbox"] {
    display: flex;
    align-items: center; /* Align items vertically center */
}

#screen6 input[type="checkbox"] {
    margin-left: 10px; /* Add spacing between heading and checkbox */
}

#screen6 .form-row {
    display: flex; /* Use flexbox for layout */
}

#screen6 .form-column {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#screen6 .rectangle2 {
    position: absolute;
    top: 10%; /* Adjust top margin as needed */
    left: 0;
    width: 40%;
    height: 90%; /* Adjusted to cover more of the screen */
    background-color: #faf3eb;
    border-top-left-radius: 20px;
    z-index: 1;
    align-items: center;
}

#screen6 .rectangle2content h1 {
    font-size: 60px;
    color: #445464;
}

  #screen6 .rectangle2content p {
    font-size: 30px;
    color: #5c7c8c;
  }

  #screen6 .rectangle2content {
    margin-top: 600px;
    text-align: center;
  }

  #screen6 .rectangle2content img {
  display: block; /* Ensure the image is a block element */
  margin: 0 auto; /* Center the image horizontally */
}

#screen6 #joinButton {
    background-color: #c4b4a4;
    color: #445464;
    border-radius: 60px;
    font-size: 96px;
    width:400px;
    height: 180px;
}

  #screen6 .modal {
     display: none;
     position: fixed;
     z-index: 9999; /* Ensure it appears above other content */
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 70%; /* Adjust as needed */
     height: 70%;
     background-color: #445464;
     border-radius: 20px;
     padding: 20px;
     text-align: center;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     font-size:60px;
     color: #fbf3eb;
  }

  #screen6 #modal-overlay {
      display: none;
      position: fixed;
      z-index: 9998; /* Ensure it appears below the modal */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
  }

  #screen6 .modal-content {
      background-color: #445464;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
  }

  #screen6 .modal-content h2{
      margin-bottom: 30px;
  }

  #screen6 .modal-content p{
      color:#c4b4a4;
      font-size: 40px;
      margin-bottom: 260px;
  }

  #screen6 .modal-content img {
      margin-top: 20px;
      width: 400px;
  }

  #screen6 .modal-content button {
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      background-color: #c4b4a4;
      color: #445464;
      cursor: pointer;
      width: 400px;
      height: 100px;
      font-size: 50px;
  }
